:root {
    margin: 0;
    padding: 0;
    --darkblue: #2b2d42;
    --lightblue: #8d99ae;
    --white: #edf2f4;
    --pink: #ef233c;
    --red: #d90429;
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --lightbluecard: #3d9dea;
    --darkbluecard: #4a4eee;
    --text-color: #d5e1ef;
}

body {
    background: linear-gradient(45deg, #2b2d42, #8d99ae);
    height: auto;
    font-family: "roboto";
    padding-left: 10vw;
    padding-right: 10vw;
}

a {
    text-decoration: none;
    color: #edf2f4;
}

.nav-bar {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    width: 80%;
    height: 90vh;
}

.about-content,
.about-title {
    color: #edf2f4;
    opacity: 0;
}

.about-content {
    font-size: xx-large;
    animation: fade 1 ease-in 2s forwards;
}

.about-title {
    animation: fade 1 ease-in-out 1s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 10vh;
    background-color: black;
    font-size: 3rem;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    min-height: 85vh;
    padding-bottom: 5vh;
}

.display-cv>div {
    height: auto;
}

.heading-name {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

.heading-profession {
    text-align: center;
    font-weight: 400;
}

.heading-adress {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
    padding-top: 4px;
    padding-bottom: 4px;
}

.skills-header {
    font-size: 24;
}

.preview-component {
    padding-left: 20mm;
    padding-top: 10mm;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cv-display-title {
    padding-left: 2vw;
    text-decoration: underline;
    font-size: 24px;
}

ul {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    width: 50mm;
    margin-top: 3px;
    padding-left: 0.5vw;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.experience-title {
    display: flex;
    justify-content: center;
}

.experience-duration {
    display: flex;
    justify-content: center;
}

.experience-tasks {
    display: flex;
    justify-content: center;
}

.experience-item {
    padding-left: 2vw;
    padding-top: 1vh;
    width: 80%;
}

.company-item {
    font-weight: bold;
}

.title-item {
    font-style: italic;
}

.duration-item {
    font-size: 0.7em;
}

.task-item {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.no-list-item {
    list-style: none;
    padding-top: 3mm;
    width: 50mm;
}

.wrap {
    width: 80%;
}

.about-projects,
.about-experience,
.about-skills,
.about-interests,
.about-socials,
.about-github {
    font-weight: 800;
    text-decoration: underline;
    transition: all 500ms;
    display: inline-block;
}

.about-projects:hover,
.about-experience:hover,
.about-skills:hover,
.about-interests:hover,
.about-socials:hover,
.about-github:hover {
    color: var(--lightblue);
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    5% {
        transform: scale(1.1, 0.9) translateY(0);
    }
    16% {
        transform: scale(0.9, 1.1) translateY(-10px);
    }
    25% {
        transform: scale(1.05, 0.95) translateY(0);
    }
    29% {
        transform: scale(1, 1) translateY(-7px);
    }
    32% {
        transform: scale(1, 1) translateY(0);
    }
    50% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.projects {
    height: 90vh;
    color: var(--white);
}

.nav-bar-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    gap: 2vh;
    font-size: x-large;
}

.search-projects {
    display: flex;
    justify-content: center;
}

.search-container {
    background: var(--white);
    width: 10vw;
    height: 3vw;
    overflow: hidden;
    opacity: 0;
    border-radius: 30px;
    display: flex;
    padding-left: 1vw;
    align-items: center;
    transition: 0.8s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
    animation: fade 1s ease-in-out forwards;
}

.search-container:hover {
    width: 10vw;
}

.search-input {
    background-color: var(--white);
    border: none;
}

.search .search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.project-card {
    height: 300px;
    width: 200px;
    background-image: linear-gradient(90deg, var(--darkblue), var(--lightblue));
    margin-top: 5vh;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
    box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1), inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1), -2px -2px 8px 2px rgba(255, 255, 255, 0.1), 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.card-title {
    font-size: 1.4rem;
    overflow: hidden;
    text-decoration: underline;
    text-decoration-color: black;
    font-weight: bold;
}

.card-image {
    object-fit: fill;
    height: 30%;
    width: 80%;
    mix-blend-mode: multiply;
    cursor: pointer;
}

.card-description {
    text-align: center;
    font-size: small;
}

.card-skill {
    font-style: italic;
}

.card-link {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.project-display {
    display: flex;
    gap: 5vw;
    height: 80vh;
    overflow: scroll;
}

.project-display-cards {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    gap: 10px;
    overflow: scroll;
}

.projects-title {
    opacity: 0;
    animation: fade 1s ease-in-out forwards;
}

.projects-most-proud {
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.projects-html {
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.projects-css {
    opacity: 0;
    animation-name: fade;
    animation-duration: 1.1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.projects-javascript {
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.projects-react {
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.projects-all {
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}